<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/student.css">
    <title>Student</title>
</head>
<body>
    <form action="" class="student">
        <div id="root">
            <button><a href="/exam">Exam</a></button>
            <button><a href="/score">Score</a></button>
            <button><a href="/pratice">Pratice</a></button>
        </div>
    </form>
</body>
</html>